body {
    background-color: rgb(179, 94, 94);
    font-family: 'Franklin Gothic Medium';
}

h1 {
    color: rgb(4, 1, 43);
    text-align: left;
}

li.checked {
  color: rgb(4, 87, 4);
  text-decoration: line-through;
}

.checked {
  background-color: #ccc;
}
  
button {
  align-items: center;
  min-height: 50px;
  width: 60px;
  border-radius: 50%;
  border-color: black;
  background-color: #0c69b6;
  color: #9b9292;
  font-size: 15px;
  padding-bottom: 5px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 40px;
  top: 10px;
  border: #3303a3;
  background-color: rgb(184, 102, 69);
  font-size: 20px;
  font-weight: 100;
  width: 200px;
}

footer {
  background-color: rgb(231, 122, 122);
}

p {
  text-align: center;
  font-weight: bold;
}
